* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
    font-family: Arial, sans-serif;
}


.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-image: url('imagenes/fondo1.avif'); 
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;
}

.contenedor {
    background-color: rgba(255, 255, 255, 0.85);
    max-width: 800px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    text-align: center;
}
.subtemas {
    background-color: rgba(255, 255, 255, 0.85);
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    font-size: 16px;
}

.subtemas h2 {
    text-align: center;
    margin-bottom: 15px;
}

.subtemas ul {
    list-style-type: disc;
    padding-left: 20px;
}
.contenedor-imagen {
    max-width: 900px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.contenedor-imagen h2 {
    margin-bottom: 15px;
}

.imagen-contenida {
    max-width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

input:focus {
  border-color: #ff4c2d;
  outline: none;
  box-shadow: 0 0 5px #5a310a;
}

footer a {
  color: #2570fa;
  text-decoration: underline;
  margin: 0 8px;
}

footer a:hover {
  color: #ffdd57;
}
